<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SearchDAO">

	<resultMap type="com.billion21.search.service.SearchVO" id="searchVO">
		<result property="sn" column="SN" />
		<result property="instNm" column="INST_NM" />
		<result property="toplvInstNm" column="TOPLV_INST_NM" />
		<result property="useAt" column="USE_AT" />
	</resultMap>

	<select id="selectSearchTargetList" resultMap="searchVO">
		SELECT
			*
		FROM
			SRCH_SEL_TEMP
		WHERE
			USE_AT = 'Y'
	</select>
	
	<select id="selectAllSearchList" resultMap="searchVO">
		SELECT
			*
		FROM
			SRCH_SEL_TEMP
	</select>
	
	<insert id="insertSearchKeyword" parameterType="com.billion21.search.service.SearchVO">
		INSERT INTO SRCH_SEL_TEMP(
			INST_NM
			,TOPLV_INST_NM
			,USE_AT
		) VALUES (
			#{instNm}
			,#{toplvInstNm}
			,#{useAt}
		);
	</insert>
	
	<update id="updateSearchKeyword" parameterType="com.billion21.search.service.SearchVO" >
		UPDATE
			SRCH_SEL_TEMP
		SET
			USE_AT = #{useAt}
			,INST_NM = #{instNm}
			,TOPLV_INST_NM = #{toplvInstNm}
		WHERE
			SN = #{sn}
	</update>
	
	<delete id="deleteSearchKeyword" parameterType="com.billion21.search.service.SearchVO">
		DELETE FROM
			SRCH_SEL_TEMP
		WHERE
			SN = #{sn}
	</delete>
	
</mapper>