<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SearchDAO">

	<resultMap type="com.billion21.search.service.SearchVO" id="searchVO">
		<result property="sn" column="SN" />
		<result property="instNm" column="INST_NM" />
		<result property="toplvInstNm" column="TOPLV_INST_NM" />
		<result property="useAt" column="USE_AT" />
		
		<result property="companyNm" column="COMPANY_NM" />
	</resultMap>

	<!-- 기관 검색어 관리 -->
	<select id="selectAvailableSearchInsttList" resultMap="searchVO">
		SELECT
			*
		FROM
			SRCH_INSTT
		WHERE
			USE_AT = 'Y'
	</select>
	
	<select id="selectAllSearchInsttList" resultMap="searchVO">
		SELECT
			*
		FROM
			SRCH_INSTT
	</select>
	
	<insert id="insertSearchInstt" parameterType="com.billion21.search.service.SearchVO">
		INSERT INTO SRCH_INSTT(
			INST_NM
			,TOPLV_INST_NM
			,USE_AT
		) VALUES (
			#{instNm}
			,#{toplvInstNm}
			,#{useAt}
		)
	</insert>
	
	<update id="updateSearchInstt" parameterType="com.billion21.search.service.SearchVO" >
		UPDATE
			SRCH_INSTT
		SET
			USE_AT = #{useAt}
			,INST_NM = #{instNm}
			,TOPLV_INST_NM = #{toplvInstNm}
		WHERE
			SN = #{sn}
	</update>
	
	<delete id="deleteSearchInstt" parameterType="com.billion21.search.service.SearchVO">
		DELETE FROM
			SRCH_INSTT
		WHERE
			SN = #{sn}
	</delete>
	
	<!-- 업체 검색어 관리 -->
	<select id="selectAvailableSearchCompanyList" resultMap="searchVO">
		SELECT
			*
		FROM
			SRCH_COMPANY
		WHERE
			USE_AT = 'Y'
	</select>
	
	<select id="selectAllSearchCompanyList" resultMap="searchVO">
		SELECT
			*
		FROM
			SRCH_COMPANY
	</select>
	
	<insert id="insertSearchCompany" parameterType="com.billion21.search.service.SearchVO">
		INSERT INTO SRCH_COMPANY(
			COMPANY_NM
			,USE_AT
		) VALUES (
			#{companyNm}
			,#{useAt}
		)
	</insert>
	
	<update id="updateSearchCompany" parameterType="com.billion21.search.service.SearchVO" >
		UPDATE
			SRCH_COMPANY
		SET
			USE_AT = #{useAt}
			,COMPANY_NM = #{companyNm}
		WHERE
			SN = #{sn}
	</update>
	
	<delete id="deleteSearchCompany" parameterType="com.billion21.search.service.SearchVO">
		DELETE FROM
			SRCH_COMPANY
		WHERE
			SN = #{sn}
	</delete>
	
	
</mapper>